body {
    background-image: url('../img/big-brother.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

i {
    color: black;
}

.card {
    border-radius: 20px;
}

@media screen and (max-device-width: 700px) {
    body {
        background-image: url('../img/big-brother.jpg');
        background-size: auto;
    }
}