<form method="post" action="{{ path('speciality_delete', {'id': speciality.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette spécialité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ speciality.id) }}">
    <button role="button" class="btn btn-danger mt-2">Supprimer</button>
</form>
