<form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce contact?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button role="button" class="btn btn-danger mt-2">Supprimer</button>
</form>
