body {
    background-image: url('../img/matrix.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

i {
    color: black;
}

@media screen and (max-width: 768px) {
    body {
        background-color: lightgrey;
    }
}