<form method="post" action="{{ path('hideout_delete', {'id': hideout.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette planque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hideout.id) }}">
    <button role="button" class="btn btn-danger mt-2">Supprimer</button>
</form>
